<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            Search: <input class="form-control" placeholder="Поиск..." ng-model="query"/><br/>
            Sort by:
            <select class="form-control" ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-name">Alphabetical (reverse)</option>
                <option value="age">Newest</option>
                <option value="-age">Oldest</option>
            </select><br/>
            <input type="button" value="Ask BackEnd!" ng-click="fetchAllSmartphones()" class="form-control"/><br/>
            <span ng-show="stubText">{{stubText}}</span>
            <ul>
                <li ng-repeat="smartphone in smartphones">
                    <a href="javascript:void(0)" ng-click="updateCurrentSmartphone(smartphone.id)">{{smartphone.name}}</a>
                    &nbsp
                    <span class="glyphicon glyphicon-flash" ng-click="deleteSmartphone(smartphone.id)"></span>
                </li>
            </ul>
            <div>
                Concrete:
                <span ng-show="concreteSmartphone">{{concreteSmartphone.name}} ({{concreteSmartphone.id}})<br/>"{{concreteSmartphone.description}}"</span>
                <span ng-hide="concreteSmartphone" class="glyphicon glyphicon-fire"></span>
            </div><br/>
            <input class="form-control" placeholder="ИД..." ng-model="newSmartphoneId"/><br/>
            <input class="form-control" placeholder="Название..." ng-model="newSmartphoneName"/><br/>
            <input class="form-control" placeholder="Описание..." ng-model="newSmartphoneDescription"/><br/>
            <input type="button" value="Put new smartphone!" ng-click="addNewSmartphone()" class="form-control"/>
        </div>
        <div class="col-md-10">
            <ul class="phones">
                <li ng-repeat="phone in filtered = (phones | filter:query | orderBy:orderProp)" class="thumbnail phone-listing">
                    <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="/resources/{{phone.imageUrl}}"/></a>
                    <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>


    <!--<pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>-->
    <p>Total number of phones: {{filtered.length}}</p>
</div>